@import '../app/styles/variables.scss';
@import '../app/styles/mixins.scss';

.stats {
  @include list-normalize();
  margin-top: 2.4rem;
}

.stats__item {
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.4rem;
  color: $text-color;
  border-bottom: 1px $inputs-bg-color solid;

  display: flex;

  &:last-child {
    border: 0;
  }
}

.stats__number {
  font-weight: 600;
}

.stats__tag {
  margin-left: 1.4rem;
}

@media #{$s-desktop-width} {
  .stats {
    margin-top: 1.4rem;
  }

  .stats__item {
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

@media #{$tablet-width} {
  .stats {
    margin-top: 1rem;
  }

  .stats__item {
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
